//
// Navbar
//

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;

  .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
  }

  .active {
    border-bottom: solid 1px $primary;
  }
}

@include media-breakpoint-up(lg) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition:
      padding-top 0.3s,
      padding-bottom 0.3s;

    .navbar-brand {
      font-size: 1.5em;
      transition: font-size 0.3s;
    }

    .navbar-nav {
      margin-top: 0;
    }
  }

  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .navbar-brand {
      font-size: 1.2em;
    }
  }
}
