*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Fira Code", monospace;
}

[data-theme="dark"] {
  body {
    background: #000;
    color: #fff;
  }
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav {
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.nav-link {
  color: #000;
  text-decoration: none;
  display: inline-block;
  margin-right: 0.5rem;

  border-bottom: solid 2px transparent;

  &:hover,
  &.active {
    border-bottom: solid 2px #fff;
  }
}

.btn__dali {
  background: transparent;
  color: #e8f130;
  border: 0;

  &:hover {
    cursor: pointer;
  }
}

[data-theme="dark"] {
  .navbar-brand {
    color: #fff;
  }
  .nav-link {
    color: #fff;
  }
  .btn__dali {
    color: #245bf0;
  }
}

svg.icon {
  width: 1.5rem;
  height: 1.5rem;
}

@import "bg";
@import "header";
@import "posts";
@import "projects";
