// Masthead
header#inicio.masthead.bg-primary.text-white.text-center
  .container.d-flex.align-items-center.flex-column
    // Masthead Avatar Image
    img.masthead-avatar.mb-5(src='img/avataaars.svg' alt='...')
    // Masthead Heading
    h1.masthead-heading.text-uppercase.mb-0 Guido Euclides Laime Espejo
    // Icon Divider
    .divider-custom.divider-light
      .divider-custom-line
      .divider-custom-icon
        i.bi.bi-slash-lg
      .divider-custom-line
    // Masthead Subheading
    p.masthead-subheading.font-weight-light.mb-0 &#10096; Front-End Developer &#47;&#10097;