---
import Footer from "../components/Footer.astro"
import Navibar from "../components/Navibar.astro"

import "../styles/app.scss"

const {pageTitle} = Astro.props
---

<!DOCTYPE html>
<html lang="es" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{pageTitle}</title>
</head>
<body>
  <div class="bg-custom-gradient"></div>

  <main class="container">
    <Navibar/>
    <slot/>
    <Footer/>
  </main>
  
  <!-- <script src="../piruui/js/piruui.js"></script> -->
  <script src="../scripts/darkLigthMode.js"></script>
</body>
</html>